*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #303030;
  --white: #ebebeb;
  --turquoise: #45deec;
  --purple: #5B3ACE;
  --red: #C1432C;
  --yellow: #A09E2B;
  --green: #41CA32;
}

.white {
  color: var(--white);
}

.turquoise {
  color: var(--turquoise);
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.purple {
  color: var(--purple);
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Noto Sans Mono', monospace;
}

header {
  background-color: var(--black);
}

.header-link:hover {
  background-color: var(--white);
  color: var(--black);
}

.header-link:hover .turquoise {
  color: var(--black);
}

.ext-link {
  color: var(--purple);
}

.ext-link:hover {
  color: var(--white);
}

.form-grid {
  grid-template-columns: auto 1fr;
}

.input {
  background-color: var(--black);
}

.send-email:hover {
  background-color: var(--white);
  color: var(--black);
}