*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #1E1E1E;
  --white: #FAFAFA;
  --turquoise: #41C5D1;
  --purple: #6C42F8;
  --yellow: #B8B630;
  --green: #42C733;
  --red: #D6492E;
}

.white {
  color: var(--white);
}

.turquoise {
  color: var(--turquoise);
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.red {
  color: var(--red);
}

.purple {
  color: var(--purple);
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Noto Sans Mono', monospace;
}

header {
  background-color: var(--black);
}

.header-link:hover {
  background-color: var(--white);
  color: var(--black);
}

.header-link:hover .turquoise {
  color: var(--black);
}

.ext-link {
  color: var(--purple);
}

.ext-link:hover {
  color: var(--white);
}

.form-grid {
  grid-template-columns: auto 1fr;
}

.input {
  background-color: var(--black);
}

.send-email:hover {
  background-color: var(--white);
  color: var(--black);
}